<main id="main" class="main">

    <div class="pagetitle">
        <h1>Manage Finance</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                <li class="breadcrumb-item">Finance</li>
                <li class="breadcrumb-item active">All-Finance</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->





    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">All Finance</h5>
                        <div class="table-responsive">
                            <table class="table datatable">
                                <div class="card p-3 shadow-sm">
                                    <form id="dateFilterForm" class="mb-4">
                                        <div class="row">
                                            <div class="col">
                                                <input type="date" class="form-control" name="fromDate"
                                                    placeholder="From Date">
                                            </div>
                                            <div class="col">
                                                <input type="date" class="form-control" name="toDate"
                                                    placeholder="To Date">
                                            </div>
                                            <div class="col-12 mt-3 ">
                                                <button type="submit" class="btn w-25 btn-primary">Get Report on this
                                                    date</button>
                                            </div>
                                        </div>
                                    </form>

                                    <div class="d-flex gap-2">

                                        <button type="button" class="btn btn-secondary btn-sm mt-3 w-25"
                                            id="clearBtn">Get All Reports</button>

                                        <button type="button" class="btn btn-primary btn-sm mt-3 w-25"
                                            id="printButton">Print Current
                                            Report</button>
                                    </div> <br> <br>
                                </div>

                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th data-type="date" data-format="YYYY/DD/MM">Joined Date</th>
                                        <th>Name</th>
                                        <th>Phone</th>
                                        <th>Amount</th>
                                        {{!-- <th>City</th>
                                        <th>Manage</th> --}}
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each orders}}
                                    <tr>
                                        <th scope="row">{{incremented @index}}</th>
                                        <td class="date-cell">{{formatDate this.date}}</td>
                                        <td>{{this.user.Fname}}{{this.user.Lname}}</td>
                                        <td>{{this.deliveryDetails.Phone}}</td>
                                        <td style="text-align: right;">{{this.totalAmount}}/-</td>
                                        {{!-- <td>
                                            <div class="d-flex gap-2">
                                                {{#if this.approved}}
                                                <span class="badge bg-success p-2">Approved</span>
                                                {{else if this.rejected}}
                                                <span class="badge bg-danger p-2">Rejected</span>
                                                {{else}}
                                                <form action="/admin/approve-builder/{{this._id}}" method="POST">
                                                    <button type="submit" class="btn btn-success btn-sm"><i
                                                            class="bi bi-check2"></i></button>
                                                </form>
                                                <form action="/admin/reject-builder/{{this._id}}" method="POST">
                                                    <button type="submit" class="btn btn-dark btn-sm"><i
                                                            class="bi bi-ban"></i></button>
                                                </form>
                                                {{/if}}
                                                <form action="/admin/delete-builder/{{this._id}}" method="POST">
                                                    <button type="submit" class="btn btn-danger btn-sm"><i
                                                            class="bi bi-trash"></i></button>
                                                </form>
                                            </div>
                                        </td> --}}

                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>

</main><!-- End #main -->

<script>
    document.getElementById('dateFilterForm').addEventListener('submit', function (event) {
        event.preventDefault(); // Prevent default form submission

        const fromDate = this.fromDate.value;
        const toDate = this.toDate.value;

        // Redirect to the same route with query parameters
        window.location.href = `/admin/all-orders?fromDate=${fromDate}&toDate=${toDate}`;
    });
</script>
<script>
    document.getElementById('clearBtn').addEventListener('click', function () {
        // Redirect to the base URL without any query parameters
        window.location.href = '/admin/all-orders';
    });
</script>

<script>
    // Print Button functionality
    document.getElementById('printButton').addEventListener('click', function () {
        window.print();  // This will trigger the browser's print dialog
    });
</script>